.game-img {
  grid-area: image;
  margin-right: 8px;
}

.game-img img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  display: block;
}

.game-title {
  margin: 10px 0;
  grid-area: title;
  color: #1F96FF;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}

.game-title h3 {
  margin: 0 0 0 3px;
}

.game-info {
  grid-area: text;
}

.game-info ul {
  margin: 0;
  padding: 0;
}

.game-title {
  text-align: center;
}

.game-info li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px 5px 3px;
}

.game-info li h4 {
  color: #48F022;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0px 0px 0px 0px;
}

.game-info p {
  margin: 0 0 10px 3px;
}

select {
  border-color: black;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  background-color: #252525;
  color: #FFFFFF;
  box-shadow: inset 0px 0px 10px #000000;
  font-weight: bold;
}

@media only screen and (min-width: 700px) {

  .game-img img {
    max-width: 200px;
  }

  .game-title {
    text-align: left;
  }

}