.game-img {
  grid-area: image;
  margin-right: 8px;
}

.game-img img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  display: block;
}

.game-title {
  margin: 10px 0;
  grid-area: title;
}

.game-title h3 {
  margin: 0 0 0 3px;
}

.game-info {
  grid-area: text;
}

.game-info ul {
  margin: 0;
  padding: 0;
}

.game-title {
  text-align: center;
}

.game-info li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px 5px 3px;
}

.game-info p {
  margin: 0 0 10px 3px;
}

@media only screen and (min-width: 500px) {

  .game-img img {
    max-width: 200px;
  }

  .game-title {
    text-align: left;
  }

}