.landing {
    display: grid;
    grid-template-areas: 'screenshot'
                         'text';
}

@media only screen and (min-width: 700px) {
    .landing {
        grid-template-areas: 'screenshot text';
    }
}

.screenshot {
    width: 60%;
    font-size: 30px;
    margin: 0;
    object-fit: cover;
    grid-area: screenshot;
}

.screenshot img {
    float: left;
    max-width: 100%;
}

.hometext {
    grid-area: text;
}

.hometext a, .hometext a:hover, .hometext a:visited  {
    color: white;
}

.hometext h2 {
    font-size: 50px;
    margin-top: 50px;
    text-align: left;
}

.hometext p {
    margin-top: 60px;
    font-size: 1.5em;
}
