.library-item {
  display: grid;
  grid-template-areas: 
  'title title'
  'image text'
  'controls controls';
  margin: 10px 0;
  border: 5px solid #1f1f1f;
  border-radius: 5px;
  box-shadow: 0px 0px 30px #000000;
  background-color: #1f1f1f;
  animation: fadeIn 1s ease-in 1;
}

.user-info {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 5px 5px;
}

.game-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.error {
  font-weight: bold;
  color: darkred;
}

@media only screen and (max-width: 370px) {
  .library-item {
    grid-template-areas: 
    "title"
    "text"
    "controls";
  }
  .game-img {
    display: none;
  }
}


@media only screen and (min-width: 500px) {
  .library-item {
    grid-template-areas: 
    "image title"
    "image text"
    "image controls";
  }

  .game-img img {
    max-width: 200px;
  }

  .game-title {
    text-align: left;
  }

}

@keyframes fadeIn 
{ 
  from { opacity:0; } to { opacity:1; } 
}