.stats {
  grid-area: stats;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10% 3% 0% 3%;
  font-size: 18px;
}

.stats span {
  display: block;
  margin: 5px;
}

.stats h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 1px 0 3px 0;
  color: #2396FD;
}
