.library-item {
  display: grid;
  grid-template-columns: 33.3% 66.6%;
  grid-template-rows: auto;
  grid-template-areas: 
    "image game-content"
    "user-content user-content";
  border: 1px solid black;
  margin: 10px 0;
  justify-content: flex-start;
}

.game-img {
  grid-area: image;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
}

.game-info {
  grid-area: game-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 8px 8px;
}

.game-info h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.game-info p {
  margin-top: 0px;
}

.user-info {
  grid-area: user-content;
  display: flex;
  margin: 0;
  padding: 3%;
}