header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 1em;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 1em;
}